fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
python-multipart
alembic
pydantic[email]
pydantic-settings
langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
chromadb
pymupdf
langchain-chroma
bcrypt